<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-night">
        <div class="container">
            <div class="col-3 collapse navbar-collapse d-sm-inline-flex justify-content-center">
                <a href="~/Home/Index"><img id="logo" src="~/Content/Images/NightRider-01.png" /></a>
            </div>
            <div class="col-6 collapse navbar-collapse d-sm-inline-flex justify-content-center">
                <ul class="navbar-nav flex-grow-1 nav-text">
                    <li class="m-2">@Html.ActionLink("Routes and Stops", "Index", "Route", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="m-2">@Html.ActionLink("Request a Ride", "Index", "RideRequest", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Driver") || User.IsInRole("Dispatcher") || User.IsInRole("FleetAdmin") || User.IsInRole("Maintenanace") || User.IsInRole("Mechanic") || User.IsInRole("Operator") || User.IsInRole("PartsPerson"))
                    {
                        <li class="m-2">@Html.ActionLink("Checklist", "Create", "VehicleChecklist", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.IsInRole("Driver") || User.IsInRole("Dispatcher") || User.IsInRole("FleetAdmin") || User.IsInRole("Operator"))
                    {
                        <li class="m-2">@Html.ActionLink("Routes", "Index", "ActiveRoute", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    <li class="m-2">@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="m-2">@Html.ActionLink("User Administration", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>

            <div class=" col-3 collapse navbar-collapse d-sm-inline-flex justify-content-center">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="d-flex justify-content-center g-5">

            <div class="d-inline-flex">
                <ul class="list-inline">
                    <li class="mx-3 list-inline-item">@Html.ActionLink("Privacy", "Privacy", "Home")</li>
                    <li class="mx-3 list-inline-item">@Html.ActionLink("Terms of Use", "Terms", "Home")</li>
                    <li class="mx-3 list-inline-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="mx-3 list-inline-item">@Html.ActionLink("Help", "Help", "Home")</li>
                </ul>
            </div>
            <div class="mx-3">
                <p>&copy; @DateTime.Now.Year - Capstone</p>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>

    @* Bing Maps API only accessed on Route Index View *@
    @if (ViewContext.RouteData.Values["controller"].ToString().Equals("Route") &&
        ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
    {
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=@ViewBag.BingMapsKey&callback=loadMapScenario' async defer></script>
        <script src="@Url.Content("~/Scripts/map-handler.js")" type="text/javascript"></script>
    }


</html>
